# Build artifacts
build
dist
*.egg-info
*.so

# Un-wanted output
__pycache__
core
.vscode
# Program output
*.hevc
*.h264
*.raw

# project files
.idea
.ycm_extra_conf.py

# Model files
*.pth

# Data files
jetson/gen_data
